<p>Escolha seu estado e algum cargo para ver os candidatos., e clique em <i class="glyphicon glyphicon-flash"></i> VAI!! <br /><strong>Depois, clique nos candidados e veja quem investe dinheiro nele.</strong></p>
<form>

<div class="form-group row">
<div class="col-md-2 col-lg-2 col-sm-4">
  <select ng-model="estado" class="form-control">
    <option value="AC">AC</option>
<option value="AL">AL</option>
<option value="AM">AM</option>
<option value="AP">AP</option>
<option value="BA">BA</option>
<option value="CE">CE</option>
<option value="DF">DF</option>
<option value="ES">ES</option>
<option value="GO">GO</option>
<option value="MA">MA</option>
<option value="MG">MG</option>
<option value="MS">MS</option>
<option value="MT">MT</option>
<option value="PA">PA</option>
<option value="PB">PB</option>
<option value="PE">PE</option>
<option value="PI">PI</option>
<option value="PR">PR</option>
<option value="RJ">RJ</option>
<option value="RN">RN</option>
<option value="RO">RO</option>
<option value="RR">RR</option>
<option value="RS">RS</option>
<option value="SC">SC</option>
<option value="SE">SE</option>
<option value="SP">SP</option>
<option value="TO">TO</option>
  </select>
  </div>
  <div class="col-md-8 col-lg-8 col-sm-6">
  <select ng-model="cargo" class="form-control">
    <option value="1">Presidente</option>
    <option value="3">Governador</option>
    <option value="5">Senador</option>
    <option value="6">Deputado Federal</option>
    <option value="7">Deputado Estadual</option>
    <option value="8">Deputado Distrital</option>
  </select>
  <script>
  
  </script>
  <input type="hidden" ng-model="limit" value="20" />
  <input type="hidden" ng-model="offset" value="0" />
  </div>

  <div class="col-md-2 col-lg-2 col-sm-2">
    <button ng-click="lista('estado', 'cargo', 1*limit, limit); offset = 0;" class="text-warning"> <i class="glyphicon glyphicon-flash"></i> VAI!
    </button>
  </div>
  </form>
  </div>
  
<div class="row" ng-show="data">
<div class="col-md-10 col-lg-10 col-sm-6">
  <p>Consultando a url {{url}}</p>
</div>

<div class="col-md-2 col-lg-2 col-sm-6">
  <button class="btn btn-icon" ng-click="proxima();">
    <i class="glyphicon glyphicon-chevron-right"></i>
     Proxima Pag
</button>
</div>
</div>
<hr />
<script>
  
</script>

<div class="row" style="text-align:center;" ng-show="loading">
  <div class="center">
  <img src="images/loader.gif" >
  </div>
</div>
<div class="row" ng-show="message.classe">
  <div class="container">
    <div class=" alert alert-{{message.classe}}">
      {{message.text}}
    </div>
  </div>
</div>
<table class="table table-hover table-striped" ng-show="data" >
<tr>
  <td>Nome - Idade - Partido</td>
  <td>Previsão de gasto</td>
  <td>Ocupação</td>
  <td>Foto (eca)</td>
</tr>
 <tr ng-repeat="item in data">
  <td>
    <a ng-href="#/candidato/{{item.id}}">{{item.nome}} - {{item.idade}} Anos - {{item.partido}}</a>
  </td>
  <td>
    <span>{{item.previsao | currency : R$}}</span>
  </td>
  <td>{{item.ocupacao}}</td>
  <td>
 <a ng-href="#/candidato/{{item.id}}">
    <img ng-src="{{item.foto}}" alt="{{item.nome}}" style="max-height: 60px; width: auto" class="img-responsive img-rounded">
  </a>
  </td>
</tr>
</table>
<div ng-show="data"><button class="btn btn-icon" ng-click="proxima();">
    <i class="glyphicon glyphicon-chevron-right"></i>
     Proxima Pag
</button></div>
